/wp-content/themes/twenty*
/wp-content/upgrade
/wp-content/uploads
/sitemap.*
wp-config.php


temabok-video-manager
video-manager
wp-content/plugins/threewp-broadcast-premium-pack/src/elementor/php_code

wp-content/plugins/threewp-broadcast-premium-pack/src/elementor/php_code/
*.tar.gz

*.debug.html
/xmlrpc.php
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/backup*
*.log
*.mo
*.mo~
*.po
*.po~
*.pot
*.pot~
.htaccess
sp_wp_vova.pem
.user.ini
wp-content/languages
/wp-content/ai1wm-backups
/wp-content/wflogs
.well-known/
demo/
error_log
*.sql
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
#/wp-content/plugins
/wp-content/cache/*
*config.codekit3
wp-content/plugins/dataporten-oauth/URL_USER.txt
wp-content/plugins/dataporten-oauth/URL_GROUP.txt
wp-content/plugins/dataporten-oauth/URL_TOKEN.txt

php.ini

/wp-content/plugins/*.zip
prepros.config
googlefe0c66aa3d58766b.html
